table, th{
    border: solid black 1px;
}



























































/* css       table, th{
    border: solid black 1px;
    border-collapse: collapse;
}
table, td{
    border: solid black 1px;
    border-collapse: collapse;
} */